body {
  margin: 0;
  padding: 0;
  background-color: #fffefe;
  font-family: 'Open Sans',
  sans-serif;

}
h1, h2, h3, h4, h5, p, a, img{
   margin: 0;
   padding: 0;
}
 
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  /* border: 2px solid red; */
}
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 30px;
    background: #FFFFFF;
}
.left a {
  padding-left: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
}
.left .img2 {
  margin-right: 121px;
 
}
.right a {
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.right {
  padding: 17px 35px;
  background: #FFFFFF;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
}
.right:after {
  content: url('../img/Group\ 56.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 17px;
}
.save h2 {
  width: 645px;
  height: 184px;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  margin-top: 147px;
}
.save p {
  width: 380px;
  height: 120px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
.section1 {
  width: 1248px;
  height: 754px;
  background-image: url('../img/intro-img.png ');
  background-size: 885px 465px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
.save a{
  display: inline-block;
  padding: 17px 36px;
  background-color: #9C69E2;
  color: #fff;
  border-radius: 50px;
  margin-top: 50px;
}
.section2 {
  width: 1117px;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  margin-top: 100px;
  margin-bottom: 150px;
}
.h2p p{
  width: 474px;
  height: 170px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}
.h2p h2 {
  width: 475px;
  height: 100px;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}

.h2p {
  margin-left: 62px;
}

.features {
text-align: center;
}

.features h1{
  /* text-align: center; */
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
  margin-bottom: 50px;
}

.features P{
  display: inline-block;
  width: 584px;
  height: 58px;
  text-align: center;
  margin: 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* text-align: center; */
  color: #4B5D68;
  margin-bottom: 70px;
  /* width: 584px;
  height: 58px; */
}

.section3 {
  width: 1137.28px;
  height: 800px;
  flex-wrap: wrap;
  display: flex;
  margin-bottom: 150px;
}

.section3 p{
  width: 220px;
  height: 160px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #4B5D68;
  /* display: block; */
}
.section3 h3 {
  width: 200px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
  display: block;
}

.section3-1 {
  background-image: url(../img/3.png);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 442px 358px;
  background-position: right;
  padding: 70px 104px 70px 0px;
}
.section3-1:nth-child(2) {
  background-image: url(../img/4.png);
  display: flex;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 442px 358px;
  background-position: right;
  padding: 70px 104px 70px 0px;
}

.section3-1:nth-child(3) {
  background-image: url(../img/1.png);
  display: flex;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 442px 358px;
  background-position: right;
  padding: 70px 104px 70px 0px;
}

.section3-1:nth-child(4) {
  background-image: url(../img/2.png);
  display: flex;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: 442px 358px;
  background-position: right;
  padding: 70px 104px 70px 0px;
}

.search a::after {
  content: url('../img/Group\ 56.png');
  background-position: center;
  margin-left: 17px;
}

.section4 {
  width: 1118px;
  height: 709px;
  background: #9C69E2;
  border-radius: 50px;
  padding: 109px 60px 60px 93px;
}
.section4 h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 88px;
}
.john {
  width: 645px;
  height: 330px;
  background-color: #fff;
  display: flex;
  padding: 88px 0 0 60px;
}
.h3s h3 {
  font-style: normal;
  font-size: 18px;
  margin-top: 80px;
  letter-spacing: 0.005em;
  color: #212353;
}
.john {
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  margin-bottom: 63px;
}
.john-img {
  margin-top: 60px;
  margin-right: 30px;
}
.h3s span {
  font-style: normal;
  font-size: 14px;
  margin-bottom: 19px;
  letter-spacing: 0.01em;
  color: #9C69E2;

}
.h3s p {
  width: 385px;
  height: 130px;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  color: #4B5D68;
}

.a5 {
  padding: 0 5px 0 10px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
hr {
  margin-top: 150px;
  margin-bottom: 100px;
  height: 2px;
  background: #9C69E2;
  opacity: 0.2;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}
.footer-top-left h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #212353;

}

.footer-top-left p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4B5D68;
}

.footer-top-right a {
   padding: 17px 35px;
    padding: 17px 35px;
    background: #F063B8;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    display: flex;
    align-items: center;
   box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
   border-radius: 50px;
   display: flex;
   align-items: center;
   display: inline-block;
   margin-right: 30px;
} 

#masa {
  
  background: #fffefe;
  padding: 17px 35px;
  padding: 17px 35px;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  display: inline-block;
  margin-right: 30px;
}

.footer-midl {
  display: flex;
  justify-content: space-between;
  margin-bottom: 118px;

}
.img5 {
  margin-left: 9px;
  margin-bottom: 65px;

}
.img5 h3 {
  display: inline-block;
  margin-left: 20px;
}

.midl2 {
  display: flex;
}
ul {
  width: 166px;
  height: 190px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  color: #212353;
}

.activ {
  width: 51.75px;
  height: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  margin-bottom: 30px;
}
.midl3 p {
  margin-bottom: 30px;
  width: 170px;
  height: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.pi1 {
 width: 335px;
 height: 65px;


 
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 180%;


 letter-spacing: 0.01em;

 

 color: #212353;
}
.pi2 {
  width: 335px;
  height: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  color: #212353;
}
.footer-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.footer-botton p {
  width: 360px;
  height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #212353;
}




